/* Change the red dot for the current day */
.modeButton modeButtonActive{
  background-color: #706F69 !important;
  border-radius: 50%;
}

.calendarHeaderButtons {
   color: #FF0000!important;

}

.modeButtonActive{
  color: #FF0000!important;
}
 /* .react-awesome-calendar__tabs {
  background-color: #2d3b45; 
} */ 

.currentDay{
  background-color: #FF0000!important;
}

.weekRow {
border-bottom: 1px solid  #706F69 !important;
}

.calendarHeader {
  border-bottom: 1px solid  #706F69 !important;
}

.modeButtonActive {
  color:#706F69!important;
}

.calendarWrapper{
  width: 100%;
}