 
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 
.App {
    margin-top
} */

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    /* background-color: #FFFFFF;
    background-color:#FAF7EF;
    background-color:#F9F9F7; */
    color: #2c2c2c;
    background-color: #FFFBF0;
    /* opacity: 1;
    background-image: radial-gradient(#7A09B3 0.5px, transparent 0.5px);
    background-size: 10px 10px; */
  

}

h1, h3 {
    text-align: left;
}

#titleform{
    align-self:center;
    /* padding-left: 2.5rem; */
 
}

 .MuiButton-root{
    margin: 20px; 
 }

.MuiListItem-root{
   width:100%;
}

.MuiStack-root{
    margin-bottom: 24px;
}

/* // PARENT CONTAINER  */
.container {
    width: 75%;
    max-width: 1200px;  
    margin: 2rem auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.container--calendar-form {
    width: 100%;   
    height: 70%;
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    align-items:flex-start;  
    padding: 2rem;        
    margin-top: -4rem; 
            /* border deco  */
    margin-bottom: 3rem;         
    border-bottom: 1px solid  #2c2c2c;  
    z-index: 10;
}

.calendar {
    /* flex: 1;   */
    width:50%;
    /* background-color:#ffffff ; */
    padding: 0rem;
     /* border: 1px solid #E7E7E6;  */
    border-radius: 20px;
    /* box-shadow: 0 2px 8px -2px rgba(33, 22, 76, .08); */
}

.form {
    height:50%;
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #202029;
    /* background-color:#ffffff ; */
    padding: 4rem;
    margin-top:3rem;
    border-radius: 20px;
    /* box-shadow: 0 2px 8px -2px rgba(33, 22, 76, .08); */
}

.existing-books {
    width: 100%;      
    margin: 2rem;         
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.existing{
    display: flex;
    vertical-align: center;
    justify-content: space-between;
    flex-direction: row !important;
    width:100% !important; 
    align-items: center;
    margin:0;
} 

.container-existing__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* background-color:#ffffff ; */
    border: 1px solid #202029;
    /* background-color:#ffffff ; */
     /* box-shadow: 0 2px 8px -2px rgba(33, 22, 76, .08);  */
    border-radius: 20px;
    padding:1rem 2rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

.container-existing__list{
    display: flex;
    align-items: center;
    gap:3rem;
    width: 80%;
}

#upcoming{
  color:#DE61B5;
}

#past{
    color:#a9a9a9;
  }

.formheader{
    text-align: left;
}
 
.animation-container{
    display:flex;
    flex-direction: block;
    position:fixed;
    justify-content: center;
    right:8%;
    width:30rem;
    top:0rem;
    padding-bottom:1rem;
}

.animation-container p{
     font-size: 1rem;
     font-family: "Montserrat" sans-serif;
     font-weight: 500;
     top:10rem;
     position: fixed;
     right: 12%;
}
 

.animation {
    padding:0rem;
    width:100rem;
    height: auto;
    right:0 rem;

}
 
.weekday {
    color:#FF0000;
    font-family: "Lora";
    font-style: italic;
    font-weight: 600;
    font-size: 6rem;
}

.day {
    color:#202029;
    font-style: regular;
    font-weight: 600;
    font-size: .6rem;
}

.header {
    position: sticky;
    top:0rem;
    background-color: #FFFBF0;
    z-index: 100;
    border-bottom:1px solid #202029;
}

.currentdate {
    /* margin-left: 4rem; */
    width:75%;
    display:flex;
    justify-content: flex-start;
    margin: 1rem auto;  
}


@media (max-width:600px) {
    
    .animation-container {
        display: none;
    }
    .container {
        /* width: 100%; */
        margin: auto auto; 
       margin-top:1rem; 
        display: flex;
        flex-direction: column;
        align-items: center;
        /* box-sizing: border-box; */
    }
    .container--calendar-form {
        max-width: 100vh;
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center;
        /* justify-content: space-between;   
        align-items: stretch; /* Ensures both elements stretch to the same height */
        padding: 0;        
        /* overflow-x: hidden; */
 
    }
    .calendar {
        width: 100%;
        margin: 0;
    }
   
    .form {
        width:100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid #E7E7E6; */
        /* background-color:#ffffff ; */
        /* padding: 3rem; */
        border-radius: 20px;
        margin: 3rem; 
        box-sizing: border-box;
        
        /* box-shadow: 0 2px 8px -2px rgba(33, 22, 76, .08); */
    }


    .container-existing__wrapper{
        display: flex;
        flex-direction: column;
    }

    .container-existing__list {
        display: flex;
        flex-direction: column;
    }
    
    .existing{
        display: flex;
        vertical-align: center;
        justify-content: space-between;
        flex-direction: column !important;
        width:100% !important; 
        align-items: center;
        margin:0;
    } 
    
    .container-existing__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        /* background-color:#ffffff ; */
        border: 1px solid #202029;
        background-color:none ;
        /* box-shadow: 0 2px 8px -2px rgba(33, 22, 76, .08); */
        border-radius: 20px;
        padding:1rem 2rem;
        margin-bottom: 1rem;
        box-sizing: border-box;
    }
}

/* // calendar MUI style */
